#
# *EXAMPLE ENV FILE*
#

# DEFAULT_VALUE_DATABASE_URL_EXAMPLE ="postgresql://postgres:postgres@127.0.0.1:5432/app"

DATABASE_URL="postgresql://YOUR_USERNAME_HERE:YOUR_PASSWORD_HERE@YOUR_ADDRES_HERE:YOUR_PORT_HERE/YOUR_DB_NAME_HERE"

# OBVIOUSLY KEEP THE SECRET KEY A SECRET AND BE SURE TO GENERATE IT WITH COMPLEXITY

SECRET_KEY="YOUR_GENERATED_SECRET_KEY_HERE"

# MAILING - NEED NOT TO BE TOUCHED IF NOT USING MAILING

MAILING_DOMAIN="YOUR_MAILING_DOMAIN_HERE"

MAILING_FULLDOMAIN="YOUR_MAILING_FULLDOMAIN_HERE"

# SENDER NAME SHOWN IN THE MAIL

SENDER_NAME="YOUR_SENDER_NAME_HERE"

# API APPROACH IS USED FOR MAILING

API_KEY="YOUR_API_KEY_HERE"