#
# *EXAMPLE ENV FILE*
#

# DEFAULT_VALUE_DATABASE_URL_EXAMPLE ="postgresql://postgres:postgres@127.0.0.1:5432/app"

DATABASE_URL="postgresql://YOUR_USERNAME_HERE:YOUR_PASSWORD_HERE@YOUR_ADDRES_HERE:YOUR_PORT_HERE/YOUR_DB_NAME_HERE"

# OBVIOUSLY KEEP THE SECRET KEY A SECRET AND BE SURE TO GENERATE IT WITH COMPLEXITY

SECRET_KEY="YOUR_GENERATED_SECRET_KEY_HERE"

#
# MAILING - NEED NOT TO BE TOUCHED IF NOT USING MAILING

MAILING_DOMAIN="YOUR_MAILING_DOMAIN_HERE"

MAILING_FULLDOMAIN="YOUR_MAILING_FULLDOMAIN_HERE"

# SENDER NAME SHOWN IN THE MAIL

SENDER_NAME="YOUR_SENDER_NAME_HERE"

# API APPROACH IS USED FOR MAILING

API_KEY="YOUR_API_KEY_HERE"

#
# CORS - YOU NEED TO FILL THIS OUT, KEEP IT FORMATED LIKE THIS WITH OR WITHOUT ""

# ALLOWED ORIGINS - LIST OF ORIGINS THAT ARE ALLOWED TO MAKE CROSS-ORIGIN REQUESTS

ALLOWED_ORIGINS="http://localhost:8000,http://127.0.0.1:8000"

# ALLOWED METHODS - LIST OF HTTP METHODS THAT ARE ALLOWED IN CROSS-ORIGIN REQUESTS

ALLOWED_METHODS="GET,POST,PUT,DELETE,OPTIONS"

# ALLOWED HEADERS - LIST OF HEADERS THAT THE FRONTEND IS ALLOWED TO SEND

ALLOWED_HEADERS="Authorization,Content-Type,Accept,X-CSRF-Token,Refresh-Token"

# ALLOWED CREDENTIALS - INDICATES IF COOKIES OR AUTHORIZATION HEADERS (JWTS) ARE ALLOWED

ALLOWED_CREDENTIALS="true"

# MAX AGE - HOW LONG THE BROWSER REMEMBERS CORS PERMISSIONS FOR BEFORE CHECKING AGAIN (IN SECONDS)

MAX_AGE="86400"