<html>
    <body>
        <h1>
            Hello <b>{{USERNAME}}!</b>
        </h1>
        <br>
        <p style="font-size: 25px">
            Having trouble with your login info? Let us take care of that for you!
        </p>
        <p style="font-size: 20px">
            Follow the link and enter your verification code to reset the password, if this wasn't you report it back to us or just ignore the message:
        </p>
        <p style="font-size: 25px">
            <a href="{{LINK}}" target="_blank">
                {{LINK}}
            </a>
        </p>
        <p style="font-size: 50px">
            <b>{{CODE}}</b>
        </p>
    </body>
</html>