<html>
    <body>
        <h1>
            Hello <b>{{USERNAME}}!</b>
        </h1>
        <br>
        <p style="font-size: 25px">
            Welcome to the platform!
        </p>
        <p style="font-size: 20px">
            Here is the verification link with your registration code:
        </p>
        <p style="font-size: 25px">
            <a href="{{LINK}}" target="_blank">
                {{LINK}}
            </a>
        </p>
        <p style="font-size: 50px">
            <b>{{CODE}}</b>
        </p>
    </body>
</html>