<html>
    <body>
        <h1>
            Hello <b>{{USERNAME}}!</b>
        </h1>
        <br>
        <p style="font-size: 25px">
            Welcome back to the platform!
        </p>
        <p style="font-size: 20px">
            Here is the link and the code for verifying the deletion of your account, if this wasn't you report it back to us or just ignore the message:
        </p>
        <p style="font-size: 25px">
            <a href="{{LINK}}" target="_blank">
                {{LINK}}
            </a>
        </p>
        <p style="font-size: 50px">
            <b>{{CODE}}</b>
        </p>
    </body>
</html>